@import "./bulma.min";

html{
  background-color: #ffffff;
}

body{
  padding: 10px;
  color: rgb(31, 45, 59);
  font-size: 1.50vw;
}

body, h1, {
  font-weight: 100;
}

.title{
  color: rgb(31, 45, 59);
  font-size: 2vw;
}

.subtitle{
  font-size: 0.75vw;
}

.box{
  border-radius: 0px;
}

.no-style{
  color: inherit;
}

.recoon{
  &-card{
    cursor: pointer;
    border-top: solid 5px #57a0D3;
    padding-top: 10px;
    
    h1{
      font-size: 1.20em;
    }
    
    &.cancelled{
      opacity: 0.5;
    }
  }
  &-card-tags{
    margin-top: 10px;
  }
  &-stage-column{
    background-color: #f2f2f2;
    border: none;
    padding: 0px;
    margin: 0px 0.75rem;
    .stage-top-border{
      height:5px;
      /*https://uigradients.com/#Timber*/
      background: #fc00ff;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .stage-contents{
      padding: 0.75rem;
      padding-top: 0.50rem;
    }
    .stage-contents h2{
      font-weight: 100;
      font-size: 1.5vw;
    }
    .stage-name{
      padding: 5px;
    }
    .stage-card{
      -webkit-box-shadow: 3px 8px 20px 0px rgba(194,194,194,1);
      -moz-box-shadow: 3px 8px 20px 0px rgba(194,194,194,1);
      box-shadow: 3px 8px 20px 0px rgba(194,194,194,1);
      margin-bottom: 25px;
    }
    .stage-card .card-content{
      padding: 5px;
    }
    .stage-card .title{
      font-size: 1vw;
      font-weight: 600;
    }
  }
}